In [21]:
#diretorio_datasets = "/home/matteus-paula/Downloads/dados_tcc/ideb"
diretorio_datasets = "/home/caioabreu/workspace/tcc/datasets/educacao-basica/ideb"

In [22]:
import pandas as pd

> ## Dados ideb:<br> 
- Fonte: http://portal.inep.gov.br/web/guest/educacao-basica/ideb/resultados
- divulgacao_anos_iniciais-escolas-2017
- divulgacao_anos_finais-escolas-2017
- divulgacao_ensino_medio-escolas-2017

In [23]:
diretorio = f'{diretorio_datasets}/divulgacao_ensino_medio_municipios2017-atualizado-Jun_2019.xlsx'
ideb_ensino_medio = pd.read_excel(diretorio, header=None)

In [24]:
ideb_ensino_medio.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,Ministério da Educação,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Instituto Nacional de Estudos e Pesquisas Educ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Indicadores educacionais compostos por: Taxa d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def transform_dataframe(input_df):

    header = input_df.iloc[6]
    header = header.replace(r'\n',' ', regex=True)

    dfs = input_df.iloc[10:]
    dfs.columns = header
    
    dfs_1 = dfs[['Sigla da UF', 'Código do Município',
                 'Nome do Município', 'Rede', 'IDEB 2017 (N x P)']]

    dfs_1.drop(dfs_1.tail(3).index,inplace=True)
        
    dfs_1.columns = ['SIGLA_UF', 'CO_MUNICIPIO',
                     'NO_MUNICIPIO', 'REDE', 'NOTA_IDEB']

    return dfs_1

In [26]:
dados_ideb = transform_dataframe(ideb_ensino_medio)
dados_ideb.sort_values(by=['NO_MUNICIPIO']).head()

/home/caioabreu/workspace/tcc/tcc_env/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      SIGLA_UF CO_MUNICIPIO         NO_MUNICIPIO      REDE NOTA_IDEB
10754       GO      5200050      Abadia de Goiás  Estadual         4
10753       GO      5200050      Abadia de Goiás   Pública         4
4640        MG      3100104  Abadia dos Dourados  Estadual       4.4
4639        MG      3100104  Abadia dos Dourados   Pública       4.4
10755       GO      5200100            Abadiânia   Pública       4.1

In [27]:
dados_ideb['REDE'].unique()

array(['Estadual', 'Pública', 'Federal', 'Municipal'], dtype=object)

In [28]:
dados_ideb = dados_ideb[dados_ideb['REDE'] == 'Pública']
dados_ideb.head()

   SIGLA_UF CO_MUNICIPIO           NO_MUNICIPIO     REDE NOTA_IDEB
11       RO      1100015  Alta Floresta D'Oeste  Pública       3.9
12       RO      1100023              Ariquemes  Pública       3.8
15       RO      1100031                 Cabixi  Pública       3.7
17       RO      1100049                 Cacoal  Pública       3.9
19       RO      1100056             Cerejeiras  Pública       3.8

In [29]:
dados_ideb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5420 entries, 11 to 11270
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SIGLA_UF      5420 non-null   object
 1   CO_MUNICIPIO  5420 non-null   object
 2   NO_MUNICIPIO  5420 non-null   object
 3   REDE          5420 non-null   object
 4   NOTA_IDEB     5420 non-null   object
dtypes: object(5)
memory usage: 254.1+ KB

In [30]:
dados_ideb['NOTA_IDEB'] = pd.to_numeric(dados_ideb['NOTA_IDEB'], errors='coerce')
dados_ideb['CO_MUNICIPIO'] = pd.to_numeric(dados_ideb['CO_MUNICIPIO'], downcast='integer')
dados_ideb.head()

   SIGLA_UF  CO_MUNICIPIO           NO_MUNICIPIO     REDE  NOTA_IDEB
11       RO       1100015  Alta Floresta D'Oeste  Pública        3.9
12       RO       1100023              Ariquemes  Pública        3.8
15       RO       1100031                 Cabixi  Pública        3.7
17       RO       1100049                 Cacoal  Pública        3.9
19       RO       1100056             Cerejeiras  Pública        3.8

In [31]:
dados_ideb.isnull().any()

SIGLA_UF        False
CO_MUNICIPIO    False
NO_MUNICIPIO    False
REDE            False
NOTA_IDEB        True
dtype: bool

In [33]:
dados_ideb['NOTA_IDEB'].count()

5278

In [34]:
dados_ideb['NOTA_IDEB'].isna().sum()

142

In [35]:
dados_ideb.dropna(inplace=True)
dados_ideb.isnull().any()

SIGLA_UF        False
CO_MUNICIPIO    False
NO_MUNICIPIO    False
REDE            False
NOTA_IDEB       False
dtype: bool

In [36]:
dados_ideb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5278 entries, 11 to 11270
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SIGLA_UF      5278 non-null   object
 1   CO_MUNICIPIO  5278 non-null   int32
 2   NO_MUNICIPIO  5278 non-null   object
 3   REDE          5278 non-null   object
 4   NOTA_IDEB     5278 non-null   float64
dtypes: float64(1), int32(1), object(3)
memory usage: 226.8+ KB

In [37]:
dados_ideb.to_csv(f'{diretorio_datasets}/ideb_final.csv', sep=';', encoding='utf-8', index=False)