> ## Micro dados fnde pdde: dataset EXEC_FINANC_ED_BAS_2017.csv

In [27]:
diretorio_datasets = "C:/Users/USUARIO/Documents/puc-minas/tcc/datasets/"

Inclusão da biblioteca Pandas do Python para exploratoria e analise dos dados

In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
dados_pdde = pd.read_csv('{}dados_fnde/pdde/EXEC_FINANC_ED_BAS_2017.CSV'.format(diretorio_datasets), 
                            delimiter=";", encoding = "ISO-8859-1")

In [30]:
dados_pdde.head()

,#SG_UF,NO_MUNICIPIO,CO_MUNICIPIO_IBGE,NO_ESCOLA,CO_ESCOLA,QT_ALUNOS,ESFERA_ESCOLA,CNPJ_UNID_EXEC,NO_UNID_EXEC,DIRIGENTE_UNID_EXEC,DT_INI_VINC_DIR,CUSTEIO_PARC_01,CAPITAL_PARC_01,TOTAL_CUST_CAP_PARC_01,CUSTEIO_PARC_02,CAPITAL_PARC_02,TOTAL_CUST_CAP_PARC_02
0,AC,CRUZEIRO DO SUL,1200203,ESC SAO JOAO I,12020206,45,MUNICIPAL,'04012548000102',PREF MUN DE CRUZEIRO DO SUL,ILDERLEI SOUZA RODRIGUES CORDEIRO,01/01/2017,"1400,00","0,00","1400,00",NaN,NaN,NaN
1,AC,CRUZEIRO DO SUL,1200203,ESC SAO JOSE,12001457,1225,ESTADUAL,'09556375000107',COMITE EXECUTIVO SAO JOSE,SERNIZIA DE ARAUJO CORREIA,15/05/2013,"11232,00","2808,00","14040,00",NaN,NaN,NaN
2,AC,CRUZEIRO DO SUL,1200203,ESC SAO RAIMUNDO,12031810,38,ESTADUAL,'04033254000167',SECRETARIA DE EDUCACAO DO ESTADO DO ACRE,MARCO ANTONIO BRANDÃO LOPES,29/04/2014,"1140,00","0,00","1140,00",NaN,NaN,NaN
3,AC,CRUZEIRO DO SUL,1200203,ESC SEBASTIANA SILENE VALENTE,12001490,40,ESTADUAL,'04463040000120',COMITE EXECUTIVOCONSORCIO SEBASTIANA SILENE VA...,ISABEL DO MONTE DE SOUZA,22/06/2015,"1216,00","304,00","1520,00",NaN,NaN,NaN
4,AC,CRUZEIRO DO SUL,1200203,ESC SEGADAS VIANA,12001503,9,MUNICIPAL,'03016628000173',CONSELHO ESCOLAR SEGADAS VIANA,ALINE NASCIMENTO DA SILVA,27/03/2017,"872,00","218,00","1090,00",NaN,NaN,NaN

- ### Verificando a variação e a distribuição dos dados

In [31]:
dados_pdde.describe()

,CO_MUNICIPIO_IBGE,CO_ESCOLA,QT_ALUNOS,CUSTEIO_PARC_02,CAPITAL_PARC_02,TOTAL_CUST_CAP_PARC_02
count,1.234900e+05,1.234900e+05,123490.000000,0.0,0.0,0.0
mean,3.006794e+06,3.007646e+07,274.922156,NaN,NaN,NaN
std,9.661693e+05,9.625613e+06,326.326003,NaN,NaN,NaN
min,1.100015e+06,1.100002e+07,1.000000,NaN,NaN,NaN
25%,2.305531e+06,2.310212e+07,47.000000,NaN,NaN,NaN
50%,2.929503e+06,2.940862e+07,158.000000,NaN,NaN,NaN
75%,3.543303e+06,3.524120e+07,382.000000,NaN,NaN,NaN
max,5.300108e+06,5.306824e+07,15684.000000,NaN,NaN,NaN

- ### Verificando os dados omissos

In [32]:
dados_pdde.isnull().any()

#SG_UF                    False
NO_MUNICIPIO              False
CO_MUNICIPIO_IBGE         False
NO_ESCOLA                 False
CO_ESCOLA                 False
QT_ALUNOS                 False
ESFERA_ESCOLA             False
CNPJ_UNID_EXEC            False
NO_UNID_EXEC              False
DIRIGENTE_UNID_EXEC        True
DT_INI_VINC_DIR            True
CUSTEIO_PARC_01           False
CAPITAL_PARC_01           False
TOTAL_CUST_CAP_PARC_01    False
CUSTEIO_PARC_02            True
CAPITAL_PARC_02            True
TOTAL_CUST_CAP_PARC_02     True
dtype: bool

- ### A variavel DIRIGENTE_UNID_EXEC possui dados Omissos

In [33]:
total = '{:,}'.format(dados_pdde['CO_ESCOLA'].loc[dados_pdde['DIRIGENTE_UNID_EXEC'].isnull()].count())
print("Total de dados omissos " + total)

Total de dados omissos 19

- ### Convertendo os nan ou nulos da variavel DIRIGENTE_UNID_EXEC para vazio

In [34]:
dados_pdde.loc[dados_pdde['DIRIGENTE_UNID_EXEC'].isnull(), 'DIRIGENTE_UNID_EXEC'] = ''

- ### A variavel DT_INI_VINC_DIR possui dados Omissos

In [35]:
total = '{:,}'.format(dados_pdde['CO_ESCOLA'].loc[dados_pdde['DT_INI_VINC_DIR'].isnull()].count())
print("Total de dados omissos " + total)

Total de dados omissos 19

- ### Convertendo os nan ou nulos da variavel DT_INI_VINC_DIR para zero

In [36]:
dados_pdde.loc[dados_pdde['DT_INI_VINC_DIR'].isnull(), 'DT_INI_VINC_DIR'] = 0

- ### A variavel CUSTEIO_PARC_02 possui dados Omissos

In [37]:
total = '{:,}'.format(dados_pdde['CO_ESCOLA'].loc[dados_pdde['CUSTEIO_PARC_02'].isnull()].count())
print("Total de dados omissos " + total)

Total de dados omissos 123,490

- ### Convertendo os nan ou nulos da variavel CUSTEIO_PARC_02 para zero

In [38]:
dados_pdde.loc[dados_pdde['CUSTEIO_PARC_02'].isnull(), 'CUSTEIO_PARC_02'] = 0

- ### A variavel CAPITAL_PARC_02 possui dados Omissos

In [39]:
total = '{:,}'.format(dados_pdde['CO_ESCOLA'].loc[dados_pdde['CAPITAL_PARC_02'].isnull()].count())
print("Total de dados omissos " + total)

Total de dados omissos 123,490

- ### Convertendo os nan ou nulos da variavel CAPITAL_PARC_02 para zero

In [48]:
dados_pdde.loc[dados_pdde['CAPITAL_PARC_02'].isnull(), 'CAPITAL_PARC_02'] = 0

- ### A variavel TOTAL_CUST_CAP_PARC_02 possui dados Omissos

In [49]:
total = '{:,}'.format(dados_pdde['CO_ESCOLA'].loc[dados_pdde['TOTAL_CUST_CAP_PARC_02'].isnull()].count())
print("Total de dados omissos " + total)

Total de dados omissos 0

- ### Convertendo os nan ou nulos da variavel TOTAL_CUST_CAP_PARC_02 para zero

In [50]:
dados_pdde.loc[dados_pdde['TOTAL_CUST_CAP_PARC_02'].isnull(), 'TOTAL_CUST_CAP_PARC_02'] = 0

- ### Verificando dados duplicados

In [51]:
print(dados_pdde['CO_ESCOLA'].count())
print(dados_pdde['CO_ESCOLA'].drop_duplicates().count())

123490
123490

In [52]:
dados_pdde.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123490 entries, 0 to 123489
Data columns (total 17 columns):
#SG_UF                    123490 non-null object
NO_MUNICIPIO              123490 non-null object
CO_MUNICIPIO_IBGE         123490 non-null int64
NO_ESCOLA                 123490 non-null object
CO_ESCOLA                 123490 non-null int64
QT_ALUNOS                 123490 non-null int64
ESFERA_ESCOLA             123490 non-null object
CNPJ_UNID_EXEC            123490 non-null object
NO_UNID_EXEC              123490 non-null object
DIRIGENTE_UNID_EXEC       123490 non-null object
DT_INI_VINC_DIR           123490 non-null object
CUSTEIO_PARC_01           123490 non-null object
CAPITAL_PARC_01           123490 non-null object
TOTAL_CUST_CAP_PARC_01    123490 non-null object
CUSTEIO_PARC_02           123490 non-null float64
CAPITAL_PARC_02           123490 non-null float64
TOTAL_CUST_CAP_PARC_02    123490 non-null float64
dtypes: float64(3), int64(3), object(11)
memory usage: 16.0+ MB

- ### Convertendo os tipos

In [86]:
dados_pdde['QT_ALUNOS'] = dados_pdde['QT_ALUNOS'].astype(int)
dados_pdde['CUSTEIO_PARC_01'] = dados_pdde['CUSTEIO_PARC_01'].apply(lambda x: float(x.replace(".","").replace(",",".")))
dados_pdde['CAPITAL_PARC_01'] = dados_pdde['CAPITAL_PARC_01'].apply(lambda x: float(x.replace(".","").replace(",",".")))
dados_pdde['TOTAL_CUST_CAP_PARC_01'] = dados_pdde['TOTAL_CUST_CAP_PARC_01'].apply(lambda x: float(x.replace(".","").replace(",",".")))
dados_pdde.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123490 entries, 0 to 123489
Data columns (total 17 columns):
#SG_UF                    123490 non-null object
NO_MUNICIPIO              123490 non-null object
CO_MUNICIPIO_IBGE         123490 non-null int64
NO_ESCOLA                 123490 non-null object
CO_ESCOLA                 123490 non-null int64
QT_ALUNOS                 123490 non-null int32
ESFERA_ESCOLA             123490 non-null object
CNPJ_UNID_EXEC            123490 non-null object
NO_UNID_EXEC              123490 non-null object
DIRIGENTE_UNID_EXEC       123490 non-null object
DT_INI_VINC_DIR           123490 non-null object
CUSTEIO_PARC_01           123490 non-null float64
CAPITAL_PARC_01           123490 non-null float64
TOTAL_CUST_CAP_PARC_01    123490 non-null float64
CUSTEIO_PARC_02           123490 non-null float64
CAPITAL_PARC_02           123490 non-null float64
TOTAL_CUST_CAP_PARC_02    123490 non-null float64
dtypes: float64(6), int32(1), int64(2), object(8)
memory usage: 15.5+ MB

- ### Seleção das variaveis a serem estudadas

In [87]:
dados_pdde_all = dados_pdde[['CO_MUNICIPIO_IBGE', 'NO_MUNICIPIO', 'CO_ESCOLA', 
                             'NO_ESCOLA', 'QT_ALUNOS', 'ESFERA_ESCOLA',
                             'CNPJ_UNID_EXEC', 'NO_UNID_EXEC', 'DIRIGENTE_UNID_EXEC',
                             'DT_INI_VINC_DIR', 'CUSTEIO_PARC_01', 'CAPITAL_PARC_01',
                             'TOTAL_CUST_CAP_PARC_01']]

- ### Verificando a variação e a distribuição dos dados

In [88]:
dados_pdde_all.describe()

,CO_MUNICIPIO_IBGE,CO_ESCOLA,QT_ALUNOS,CUSTEIO_PARC_01,CAPITAL_PARC_01,TOTAL_CUST_CAP_PARC_01
count,1.234900e+05,1.234900e+05,123490.000000,123490.000000,123490.000000,123490.000000
mean,3.006794e+06,3.007646e+07,274.922156,2837.499858,695.422969,3532.922828
std,9.661693e+05,9.625613e+06,326.326003,2687.797550,716.944473,3381.978902
min,1.100015e+06,1.100002e+07,1.000000,0.000000,0.000000,20.000000
25%,2.305531e+06,2.310212e+07,47.000000,1110.000000,268.000000,1350.000000
50%,2.929503e+06,2.940862e+07,158.000000,1880.000000,474.000000,2360.000000
75%,3.543303e+06,3.524120e+07,382.000000,3704.000000,938.000000,4650.000000
max,5.300108e+06,5.306824e+07,15684.000000,129352.000000,32338.000000,161690.000000

# ANALISES<br>

In [94]:
dados_pdde_all[['ESFERA_ESCOLA', 'CO_ESCOLA']].groupby(['ESFERA_ESCOLA'], as_index=False).count().head()

  ESFERA_ESCOLA  CO_ESCOLA
0      ESTADUAL      25780
1     MUNICIPAL      97710

In [ ]:
dados_pdde_escolas_federais = escolas.loc[(escolas['ESFERA_ESCOLA'] == 1)]
print(escolas_federais['CO_ENTIDADE'].count())